:target:before {
    content: "";
    display: block;
    height: 200px;
    width: 100%;
    }
.commonFormat::before ,.tweakFormat::before ,.indexFixFormat::before ,.thirdplugin::before{
    margin-top: -200px;
}
// 首頁卡片不要高
#card_menu::before{
    height: 0;
}