// 最新消息顏色
.alert-primary{
    background: none;
    border-color: #829ac1;
}
.indexbanner{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
// 功能介紹卡片
.card i, .card-title{
    color: #6781a9;
}
.function{
    .card-header{
        background-color: transparent;
    }
    .card .list-group-item{
        padding: 0;
        a{
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            color: #5a5a5a;
            font-size: 0.8rem;
        }
        a:hover{
            background-color: #c3cfe2;
            color: white;
        }
    }
}
.share-link .card a{
    text-decoration: none;
    color: #5a5a5a;
}
.share-link .card a:hover{
    background: #f1f1f1;
    mix-blend-mode: multiply;
}
// 更新日誌
.update{
    color: #6781a9;
    background-color: aliceblue;
    border-radius: 5px;
}

@media (max-width: 576px){
    .card .list-group-item a{
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #5a5a5a;
        font-size: 1rem;
    }
}

// 小標題
.smalltitle{
    position: relative;
    padding-left: 1em;
}
.smalltitle::before{
    content: "";
    display: block;
    height: 20px;
    width: 20%;
    background-color: #e2e9f3;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;

}

@media (max-width: 576px){
    .smalltitle{
        width: 90%;
    }
    .smalltitle::before{
        width: 50%;
    }
}

// 分享連結
.share-link-img{
    height: 15rem;
}
.baha01{
    background:url("https://raw.githubusercontent.com/goatcorp/FFXIVQuickLauncher/master/misc/screenshot.png") center/cover no-repeat;
}
.baha02{
    background:url("https://p2.bahamut.com.tw/HOME/creationCover/38/0005363938_B.JPG") center/cover no-repeat;
}
.baha03{
    background:url("https://blog.littlenightmare.top/img/post-bg-hacker.jpg") center/cover no-repeat;
}

@media (max-width: 576px){
    .share-link .col-md-4{
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 95%;
    }
}