.scroll_top{
    display: block;
    position: fixed;
    z-index: 2500;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 3rem;
    color: #c7c7c7;
}
.scroll_top:hover{
    color: #92a7c7;
}

:target:before {
    content: "";
    display: block;
    height: 200px;
    width: 100%;
    }

.commonFormat::before ,.tweakFormat::before{
    margin-top: -200px;
    display: block;
}

.menulist li{
    padding: 0 1rem;
}
.menulist li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #92a7c7;
    transition: .2s .1s;
}
.menulist li:hover::after{
    width: 100%;
}

.footer{
    position: absolute;
    z-index: 2000;
}
.footer .footext{
    text-align: left;
}

.secondmenu{
    overflow: auto ;
    height: 100%;
    margin-bottom: 360px;
}


.imagebig img{
    max-width: 100%;
    max-height: 2000px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.imagebig .imagebigback{
    max-height: 300px;
}

.google iframe{
    margin-top: 100px;
}

.plugintitle .btn-outline-secondary{
    border-color: #92a7c7;
    border-radius: 0;
    color: #92a7c7;
}
.plugintitle .btn-outline-secondary:hover{
    background-color: #92a7c7;
    color: aliceblue;
}
.tweaktitle{
    color: #6781a9;
}
.tweak_table table tr td:nth-child(2){
    color: #6781a9;
}

@media (max-width: 576px) {
    .plugin .secondmenu{
        position: relative;
        margin-bottom: 0px;
        z-index: 500;
    }
    .footer .footext{
        text-align: center;
    }
    .footer img{
        width: 50%;
    }
    .footer .d-flex{
        justify-content: center;
        margin-bottom: 10px;
    }
}