$accordion-button-active-color:#6781a9;
$accordion-button-active-bg: #f6f8fb;

.accordion-button:not(.collapsed){
    background-color: $accordion-button-active-bg ;
    color: $accordion-button-active-color;
}

.secondmenu .nav-link{
    color: #92a7c7;
}
.secondmenu .nav-link:hover{
    color: #6781a9;
}