.alert-primary{
    background: none;
    border-color: #829ac1;
}

.indexbanner{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.btnfather{
    position: relative;
    margin-right: 3em;
    margin-bottom: 10px;
}

.downloadbtn{
    background-image:linear-gradient(274deg, #9cb3d7 0%, #c3cfe2 100%);
    border: 0;
    border-radius: 0%;
    margin: 5px;
}

.downloadbtn::before,
.downloadbtn::after {
    position: absolute;
    content: "";
    background: transparent;
    z-index: 2;
}

.downloadbtn::before,
.downloadbtn::after {
  width: 0%; height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.downloadbtn::before {
  top: 0; right: 0;
  border-top: 1px solid rgba(28, 31, 30, 0.36 );
  border-left: 1px solid rgba(28, 31, 30, 0.36 );
  mix-blend-mode: multiply;
}
.downloadbtn::after {
  bottom: 0; left: 0;
  border-bottom: 1px solid rgba(28, 31, 30, 0.36 );
  border-right: 1px solid rgba(28, 31, 30, 0.36);
  mix-blend-mode: multiply;
}
.downloadbtn:hover::before,
.downloadbtn:hover::after {
  width: 100%; height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;   
}

.cn{
    background-image: linear-gradient(38deg, #c9c9c9 0%, #b1b1b1 100%);
}

.commonFormat:target:before {
    content: "";
    display: block;
    height: 0px;
    width: 100%;
}
.commonFormat::before{
    margin-top: 0px;
    display: block;
}

.card i, .card-title{
    color: #6781a9;
}
.function .card-header{
    background-color: transparent;
}
.function .card .list-group-item a:hover{
    background-color: #c3cfe2;
    color: white;
}
.function .card .list-group-item a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #5a5a5a;
    font-size: 0.8rem;
}
.function .card .list-group-item{
    padding: 0;
}

.share-link .card a{
    text-decoration: none;
    color: #5a5a5a;
}
.share-link .card a:hover{
    background: #f1f1f1;
    mix-blend-mode: multiply;
}
.smalltitle{
    position: relative;
}
.smalltitle::before{
    content: "";
    display: block;
    height: 20px;
    width: 20%;
    background-color: #e2e9f3;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;

}
.share-link-img{
    height: 15rem;
}
.baha01{
    background:url("https://raw.githubusercontent.com/goatcorp/FFXIVQuickLauncher/master/misc/screenshot.png") center/cover no-repeat;
}
.baha02{
    background:url("https://p2.bahamut.com.tw/HOME/creationCover/38/0005363938_B.JPG") center/cover no-repeat;
}
.baha03{
    background:url("https://blog.littlenightmare.top/img/post-bg-hacker.jpg") center/cover no-repeat;
}

@media (max-width: 576px) {
    .btnfather{
        margin: 0;
    }
    .downloadbtn{
        width: 100%;
        margin: 0;
    }
    .cn{
        margin-bottom: 10px;
    }
    .card .list-group-item a{
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #5a5a5a;
        font-size: 1rem;
    }
    .function .card{
        margin: 0.5rem;
    }
    .smalltitle{
        width: 90%;
    }
    .smalltitle::before{
        width: 50%;
    }
    .share-link .col-md-4{
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 95%;
    }
}