@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-default font-normal tracking-wide;
    }
    a {
        @apply text-grayBlue-500 transition break-all;
    }
    a:hover {
        @apply text-grayBlue-800;
    }
    h1 {
        @apply text-4xl;
    }
    h3 {
        @apply text-2xl;
    }
    input,
    select,
    textarea {
        @apply block h-9 w-full py-1 px-4 rounded-md border-0 ring-1 ring-grayBlue-300
        md:py-1.5 md:pl-7 md:pr-20
        focus:ring-2 focus:ring-grayBlue-500
        focus-visible:outline-none;
    }
    .content-area {
        min-height: calc(100vh - 161px);
        @apply bg-gray-100;
    }
    /* 插件內容樣式 */
    .pluginContent table {
        @apply border-t border-gray-300 my-2;
    }
    .pluginContent thead {
        @apply border-b border-gray-700;
    }
    .pluginContent tbody > tr {
        @apply border-b border-gray-300;
    }
    .pluginContent tbody > tr :hover {
        @apply bg-gray-100;
    }
    .pluginContent td {
        @apply p-2 break-all;
    }
    .pluginContent td p {
        @apply m-0 break-words;
    }
    .pluginContent span {
        @apply p-1;
    }
    .pluginContent ul {
        @apply list-disc pl-8;
    }
    .pluginContent ol {
        @apply list-decimal pl-8;
    }
    .pluginContent h1,
    .pluginContent h2,
    .pluginContent h3 {
        @apply font-bold text-grayBlue-500 mt-4 mb-2;
    }
    .pluginContent h4 {
        @apply font-bold mb-1 mt-3;
    }
    .pluginContent h1 {
        @apply text-2xl;
    }
    .pluginContent p {
        @apply mb-2;
    }
    .pluginContent a {
        @apply decoration-grayBlue-500 underline;
    }
    .pluginContent code {
        @apply text-red-600 bg-gray-200 px-2 py-0.5 rounded mx-2;
    }

    .btn {
        @apply px-6 py-3 rounded-xl transition;
    }
    .listGroup {
        @apply bg-white border border-solid border-gray-300 rounded divide-y;
    }
    .list {
        @apply grid transition cursor-pointer hover:bg-gray-100 first:rounded-t last:rounded-b;
    }
    .card {
        @apply bg-white border border-solid border-gray-100 rounded-xl divide-y pb-2;
    }
    .pagination {
        @apply hidden items-center justify-center m-5 gap-x-2 md:flex;
    }
    .pagination button {
        @apply border border-solid border-grayBlue-500 px-4 py-2 rounded-md text-grayBlue-500;
    }
    .pagination button.active {
        @apply bg-grayBlue-500 text-white;
    }
}
